"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      colours:
        type: "random"
      size:
        max: 7
  core:
    disabledPackages: [
      "metrics"
      "language-clojure"
      "language-php"
      "language-perl"
      "language-mustache"
      "welcome"
      "language-ruby-on-rails"
      "language-ruby"
      "language-go"
      "minimap"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 15
  "exception-reporting":
    userId: "963bf364-164c-9f9e-d006-327d18f1ab72"
  "linter-eslint": {}
  "linter-pylint":
    disableTimeout: true
    rcFile: "%p/pylintrc"
  "linter-ui-default":
    panelHeight: 125
    showPanel: true
  welcome:
    showOnStartup: false
